
    body
    {
        background:         #c0c0c0;
        color:              #3d3d3d;
        margin:             50px;
    }

    *
    {
        font-size:          15px;
        font-family:        sans-serif;
        margin:             0;
        padding:            0;
        border:             0;
        border-radius:      5px;
        transition:         all 0.3s ease-in;
        outline:            none;
    }

    h1
    {
        font-size:          35px;
    }

    div#mainContainer
    {
        background:         #ffffff;
        text-align:         center;
        margin:             0 auto 0 auto;
        padding:            15px;
        width:              640px;
        height:             auto;
    }

    input#newTask
    {
        width:              400px;
        height:             40px;
        margin-top:         15px;
        text-align:         center;
    }

    input#submitButton,
    button#submitButton
    {
        height:             40px;
        margin-top:         15px;
    }

    @keyframes fadeIn { from { opacity: 0.0; } to { opacity: 1.0; } }

    ul#taskList
    {
        list-style-type:    none;
    }

    ul#taskList li
    {
        background:         #a5e2bf;
        animation:          fadeIn 1.0s ease-in;
        height:             40px;
        line-height:        40px;
        margin-top:         15px;
    }

    ul#taskList button
    {
        float:              right;
        line-height:        30px;
        margin:             5px;
    }

    .input
    {
        background:         #e2e2e2;
    }

    .input:focus
    {
        background:         #cacaca;
    }

    .input.error,
    .input.error:focus
    {
        background:         #ff7086;
    }

    .button
    {
        background:         #8c8c8c;
        color:              #ffffff;
        padding:            0 10px 0 10px;
    }

    .button:hover
    {
        background:         #a8a8a8;
    }

    .button:disabled
    {
        background:         #c5c5c5;
    }
